@page "/AddCheckList"
@using BlazorWebassemblyWebAPI.Repository
@using CheckListLibrary.Interfaces
@inject IGenericRepository<Entities.CheckList> ChecklistRepository

<h3>AddCheckList</h3>
<span>CheckList Name</span>
<input @bind="CheckListName" type="text">
<button @onclick="CreateCheckList">Create Checklist</button>

@code {

    private string CheckListName { get; set; }
    
    private async Task CreateCheckList()
    {
        try
        {
            Entities.CheckList list = new()
            {
                Id = Guid.NewGuid(),
                CheckListName = CheckListName
            };
            ChecklistRepository.Add(list);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
    
}