@page "/"
@attribute [Authorize]


<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity.Name !!</h1>
    </Authorized>
    <Authorizing>
        <h1>Loading ...</h1>
    </Authorizing>
</AuthorizeView>